<% if (settings.addons.ads.enabled == true) { %>
         <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Advertisement</h4>
                    <div class="table-responsive">
                      <%= settings.addons.ads.adprovidercode %>
                    <!-- Advertisement code here -->
                   <script data-cfasync='false' src='//wwr.hlinit.com/?tag=353eca33'></script>
                    </div>
                  </div>
                </div>
              </div>
            </div>
<% } %>
